mat-form-field {
    width: 100%;
}

p {
    font-style: italic;
    font-size: 12px;
}

span.inscription, .close {
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}

.close {
    float: right;
    height: 22px;
}