h2 {
    text-align: center;
    color: brown;
}

#game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pagination-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 30px;
    margin-bottom: 10px;
}

.sort {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-evenly;
}