<h1 mat-dialog-title>Ajouter un jeu</h1>
<div mat-dialog-content>
  <div class="inscription-form">
	<div>
	  <mat-form-field appearance="fill">
	  <mat-label>Nom du jeu</mat-label>
	  <input matInput [(ngModel)]="gamedto.name">
	</mat-form-field>
	</div>
	
	<div>
	  <mat-form-field appearance="fill">
	  <mat-label>Editeurs</mat-label>
	  <mat-select [(ngModel)]="gamedto.editorId">
		<mat-option *ngFor="let editor of editors" [value]="editor.id"> {{editor.name}} </mat-option>
	  </mat-select>
	</mat-form-field>
	</div>

	<div>
	<mat-form-field appearance="fill">
	  <mat-label>Date de sortie</mat-label>
	  <input matInput [ngModel]="gamedto.releaseDate" (ngModelChange)="gamedto.releaseDate = $event" [matDatepicker]="picker">
	  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	  <mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<div>

	<div>
	  <mat-form-field appearance="fill">
	  <mat-label>Description du jeu</mat-label>
	  <textarea matInput [(ngModel)]="gamedto.description"  placeholder="Parles nous de ce jeu"></textarea>
	</mat-form-field>
	</div>

	<div>
	  <mat-form-field appearance="fill">
	  <mat-label>Categorie</mat-label>
	  <mat-select [(ngModel)]="gamedto.categoryId">
		<mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
	  </mat-select>
	</mat-form-field>
	</div>
	
	<div>
	  <mat-form-field appearance="fill">
	  <mat-label>Classification</mat-label>
	  <mat-select [(ngModel)]="gamedto.ageRatingId">
		<mat-option *ngFor="let agerating of ageratings" [value]="agerating.id">{{agerating.name}}</mat-option>
	  </mat-select>
	</mat-form-field>
	</div>

	<div>
        <mat-form-field appearance="fill">
            <mat-label>Plateformes</mat-label>
            <mat-select [(ngModel)]="gamedto.platformIds" (ngModelChange)="this.gamedto.platformIds = $event" multiple>
            <mat-option *ngFor="let platform of platforms" [value]="platform.id">{{platform.name}}</mat-option>
            </mat-select>
        </mat-form-field>
	</div>
	
	<div>
	  <mat-form-field appearance="fill">
	  <mat-label>Modele Economique</mat-label>
	  <mat-select [(ngModel)]="gamedto.economicModelId">
		<mat-option *ngFor="let modeleEco of economicModels" [value]="modeleEco.id">{{modeleEco.name}}</mat-option>
	  </mat-select>
	</mat-form-field>
	</div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Fermer</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Valider</button>
</div>