<mat-card class="card">
    <div class="card-h">
        <mat-card-title>
            <p>{{ game.name }}</p>
            <img src="../../../assets/img/pegi/{{game.ageRating.slug}}.png" alt="" class="agerating-icon">
        </mat-card-title>
        <mat-card-subtitle>
            <p>{{ game.editor.name }}</p>
            <div class="platform-icons">
                <mat-card-content *ngFor="let platform of game.platforms">
                    <img src="../../../assets/img/platform/{{platform.name}}.png" alt="" class="platform-icon">
                </mat-card-content>
            </div>
        </mat-card-subtitle>
    </div>
    <div class="card-m">
        <mat-card-content class="game-infos">
            <div>
                <p class="bold">Date de sortie : </p>
                <p>{{ game.releaseDate | date:'d LLLL y':'+0200':'fr' }}</p>
            </div>
            <div>
                <p class="bold">Genre :</p>
                <p>{{ game.category.name }}</p>
            </div>
            <div>
                <p class="bold">Modèle économique :</p>
                <p>{{ game.economicModel.name }}</p>
            </div>
            <div>
                <p class="bold">Modérateur : </p>
                <p>{{ game.moderator.pseudo }}</p>
            </div>
            <mat-card-actions class="">
                <button mat-raised-button (click)="openModifyGameDialog()">Modifier le jeu</button>
                <button mat-raised-button (click)="deleteGame()">Supprimer le jeu</button> 
            </mat-card-actions>
        </mat-card-content>
        <mat-card-content>
            <div class="game-img">
                <img src="../../../assets/img/games/{{game.id}}.png" alt="" class="">
            </div>
            <div>
                <p class="italic description">{{ game.description }}</p>
            </div>
          </mat-card-content>
    </div>
</mat-card> 