#reviews-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

th {
    font-size: 20px;
    color: black;
    font-weight: bold;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid black;
    flex-direction: row;
    vertical-align: middle;
}

td {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

mat-table {
    width: 90%;
    display: inline-table;
}

tr {
    width: 100% !important;
}

.mat-column-submitDate {
    width: 15%;
}

.mat-column-player {
    width: 5%;
}

.mat-column-game {
    width: 10%;
}

.mat-column-rating {
    width: 5%;
}

.mat-column-description {
    width: 30%;
}

.mat-column-status {
    width: 20%;
}

.mat-column-actions {
    width: 15%;
}

.pagination-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 30px;
    margin-bottom: 10px;
}

tr:nth-child(odd) {
    background-color: #e5e3e3;
}

.sort {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-evenly;
}

.actionsButtons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}