<h2>Liste des jeux</h2>
<div class="pagination-menu">
    <mat-paginator [length]="totalElements"
                   [pageSize]="5"
                   aria-label="Select page"
                   [showFirstLastButtons]="true" 
                   (page)="nextPage($event)">
    </mat-paginator>
    <button mat-raised-button (click)="openCreateGameDialog()">Ajouter un jeu</button>
</div>
<div id="game-list">
    <div *ngFor="let game of games">
        <app-game-item [game]="game"></app-game-item>
    </div>
</div>
<mat-paginator [length]="totalElements"
              [pageSize]="5"
              aria-label="Select page"
              [showFirstLastButtons]="true" 
              (page)="nextPage($event)">
</mat-paginator>